@import "../../../utils/variables";
@import "../../../utils/mixin";

//************************* Privacy *************************//

.privacy-content {
  //.open {
  //  opacity: 0;
  //}
  //.openActive {
  //  opacity: 1;
  //  transition: all 100ms cubic-bezier(.04, .37, .23, .61);
  //}
  //.close {
  //  opacity: 1;
  //}
  //.closeActive {
  //  opacity: 0;
  //  transition: all 100ms cubic-bezier(.04, .37, .23, .61);
  //}
  .delete-account {
    cursor: pointer;
  }

  .arrow-left {
    margin: -38px 0 0 0;
  }

  .blocked_contact {
    cursor: pointer;
  }

  @include flex();
  @include flex-direction-column();
  //@include animation(right-to-left, 0.17s);
  .block {
    width: 100%;
    height: auto;
    min-height: 55px;
    border-radius: 8px;
    background-color: #fff;
    @include flex();
    @include flex-direction-column();
    @include justify-content-center();
    @include align-items-center();

    .block-content {
      width: 100%;
      height: auto;
      @include flex();
      @include flex-direction-row();
      @include justify-content-space-between();
      @include align-items-center();
      margin: 15px 0 5px 0;

      .blocked-count {
        color: #9B9B9B;
        font-size: 14px;
        font-weight: 400;

        &:after {
          content: "\e946";
          font-size: 13px;
        }
      }
    }
  }
}

