@import "../../utils/variables";
@import "../../utils/mixin";

.block-popup {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
  background-color: rgba(0, 0, 0, 0.3);
  @include flex();
  @include align-items-center();
  @include justify-content-center();
  .block-popup-content {
    width: 300px;
    height: 170px;
    background-color: #ffffff;
    border: #c8c8ca solid 1px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 15px;
    position: relative;
    @include flex();
    @include flex-direction-column();
    @include align-items-center();
    @include justify-content-flex-start;
    .close-block-popup {
      position: absolute;
      width: 15px;
      height: 15px;
      top: 12px;
      right: 12px;
      cursor: pointer;
      &:before {
        content: '';
        position: absolute;
        width: 16px;
        height: 2px;
        background-color: #8b8a89;
        top: 7px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      &:after {
        content: '';
        position: absolute;
        width: 16px;
        height: 2px;
        background-color: #8b8a89;
        top: 7px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
    }
    .content_text {
      width: 280px;
      margin: 50px 0 0 0;
      height: auto;
      @include flex();
      @include align-items-center();
      text-align: center;
      >.info {
        width: 100%;
        display: block;
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #263239;
      }
    }
    .content_btn {
      margin: 30px 0 0 0;
      width: 240px;
      @include flex();
      @include flex-direction-row();
      @include justify-content-space-around();
      .confirm {
        display: block;
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        color: $primary-color;
        cursor: pointer;
      }
      .cancel {
        display: block;
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        color: $primary-color;
        cursor: pointer;
      }
    }
  }
}
