

// New Pinngle emojy ***********************************

.smile-smile-2x {
	background-position: -0px -0px;
}
.happy-smile-2x {
	background-position: -22px 0px;
}
.hahaha-smile-2x {
	background-position: -44px 0px;
}
.happytear-smile-2x {
	background-position: -66px 0px;
}
.blush-smile-2x {
	background-position: -88px 0px;
}
.shy-smile-2x {
	background-position: -110px 0px;
}
.angree-smile-2x {
	background-position: -132px 0px;
}
.yum-smile-2x {
	background-position: -154px 0px;
}
.underblack-smile-2x {
	background-position: -176px 0px;
}
.sob-smile-2x {
	background-position: -198px 0px;
}
.speechless-smile-2x {
	background-position: -220px 0px;
}
.haha-smile-2x {
	background-position: -0px -22px;
}
.fear-smile-2x {
	background-position: -22px -22px;
}
.kiss-smile-2x {
	background-position: -44px -22px;
}
.smirk-smile-2x {
	background-position: -66px -22px;
}
.cheeky-smile-2x {
	background-position: -88px -22px;
}
.sad-smile-2x {
	background-position: -110px -22px;
}
.sleep-smile-2x {
	background-position: -132px -22px;
}
.devil-smile-red-2x {
	background-position: -154px -22px;
}
.tired-smile-2x {
	background-position: -176px -22px;
}
.angre-sik-smile-2x {
	background-position: -198px -22px;
}
.bigeye-pink-smile-2x {
	background-position: -220px -22px;
}
.wink-smile-2x {
	background-position: -0px -44px;
}
.bliss-pink-smile-2x {
	background-position: -22px -44px;
}
.boom-smile-2x {
	background-position: -44px -44px;
}
.kissed-smile-2x  {
	background-position: -66px -44px;
}
.cant-talk-smile-2x {
	background-position: -88px -44px;
}
.hmm-smile-2x {
	background-position: -110px -44px;
}
.laugh-smile-2x {
	background-position: -132px -44px;
}
.wink-blue-smile-2x {
	background-position: -154px -44px;
}
.yawn-smile-2x {
	background-position: -176px -44px;
}
.puke-smile-2x {
	background-position: -198px -44px;
}
.boom-violet-smile-2x {
	background-position: -220px -44px;
}
.cool-smile-2x {
	background-position: 0px -66px;
}
.angel-smile-2x {
	background-position: -22px -66px;
}
.devil-smile-2x {
	background-position: -44px -66px;
}
.wondering-smile-2x {
	background-position: -66px -66px;
}
.hendtrail-smile-2x {
	background-position: -88px -66px;
}
.inlove-smile-2x {
	background-position: -110px -66px;
}
.intro-smile-2x {
	background-position: -132px -66px;
}
.surprised-smile-2x {
	background-position: -154px -66px;
}
.sweat-smile-2x {
	background-position: -176px -66px;
}
.grumpy-smile-2x {
	background-position: -198px -66px;
}
.kissing-heart-smile-2x {
	background-position: -220px -66px;
}
.cry-smile-2x {
	background-position: 0px -88px;
}
.cry-blue-smile-2x {
	background-position: -22px -88px;
}
.dizziness-smile-2x {
	background-position: -44px -88px;
}
.angree-blue-green-smile-2x {
	background-position: -66px -88px;
}
.frozen-smile-2x {
	background-position: -88px -88px;
}
.surprised-smile-two-2x {
	background-position: -110px -88px;
}
.cheky-wink-smile-2x {
	background-position: -132px -88px;
}
.clawn-smile-2x {
	background-position: -154px -88px;
}
.clown-smile-2x {
	background-position: -176px -88px;
}
.laughing-smile-2x {
	background-position: -198px -88px;
}
.stareye-smile-2x {
	background-position: -220px -88px;
}
.wink2-smile-2x {
	background-position: 0px -110px;
}
.wondering-smile-2x {
	background-position: -22px -110px;
}
.worried-smile-2x {
	background-position: -44px -110px;
}
.bliss-smile-2x {
	background-position: -66px -110px;
}
.money-smile-2x {
	background-position: -88px -110px;
}
.smart-smile-2x {
	background-position: -110px -110px;
}
.bigeye-smile-2x {
	background-position: -132px -110px;
}
.cheky-wink-green-smile-2x {
	background-position: -154px -110px;
}
.smile-blue-smile-2x {
	background-position: -176px -110px;
}
.girl-smile-2x {
	background-position: -198px -110px;
}
.ghost-white-smile-2x {
	background-position: -220px -110px;
}
.ninja-smile-2x {
	background-position: 0px -132px;
}
.cowboy-smile-2x {
	background-position: -22px -132px;
}
.dracula-smile-2x {
	background-position: -44px -132px;
}
.zorro-smile-2x {
	background-position: -66px -132px;
}
.alien-smile-2x {
	background-position: -88px -132px;
}
.wow-smile-2x {
	background-position: -110px -132px;
}
.question-smile-2x {
	background-position: -132px -132px;
}
.stop-smile-2x {
	background-position: -154px -132px;
}
.heart-smile-2x {
	background-position: -176px -132px;
}
.broken-heart-smile-2x {
	background-position: -198px -132px;
}
.kiss2-smile-2x {
	background-position: -220px -132px;
}
.hand-like-smile-2x {
	background-position: 0px -154px;
}
.hand-dislike-smile-2x {
	background-position: -22px -154px;
}
.hand-ok-smile-2x {
	background-position: -44px -154px;
}
.hand-victory-smile-2x {
	background-position: -66px -154px;
}
.hand-deal-smile-2x {
	background-position: -88px -154px;
}
.hand-power-smile-2x {
	background-position: -110px -154px;
}
.hand-stop-smile-2x {
	background-position: -132px -154px;
}
.monkey3-smile-2x {
	background-position: -154px -154px;
}
.monkey2-smile-2x {
	background-position: -176px -154px;
}
.monkey-smile-2x {
	background-position: -198px -154px;
}
.mail-smile-2x {
	background-position: -220px -154px;
}
.lamp-smile-2x {
	background-position: 0px -176px;
}
.sun-smile-2x {
	background-position: -22px -176px;
}
.moon-smile-2x {
	background-position: -44px -176px;
}
.rain-smile-2x {
	background-position: -66px -176px;
}
.rainbow-smile-2x {
	background-position: -88px -176px;
}
.beach-smile-2x {
	background-position: -110px -176px;
}
.music-smile-2x {
	background-position: -132px -176px;
}
.bell-smile-2x {
	background-position: -154px -176px;
}
.drum-smile-2x {
	background-position: -176px -176px;
}
.guitar-smile-2x {
	background-position: -198px -176px;
}
.palette-smile-2x {
	background-position: -220px -176px;
}
.bear-smile-2x {
	background-position: 0px -198px;
}
.cup-smile-2x {
	background-position: -22px -198px;
}
.wine-smile-2x {
	background-position: -44px -198px;
}
.martini-smile-2x {
	background-position: -66px -198px;
}
.juice-smile-2x {
	background-position: -88px -198px;
}
.cola-smile-2x {
	background-position: -110px -198px;
}
.ice-cream-smile-2x {
	background-position: -132px -198px;
}
.ice-cream2-smile-2x {
	background-position: -154px -198px;
}
.bike-smile-2x {
	background-position: -176px -198px;
}
.car-smile-2x {
	background-position: -198px -198px;
}
.car2-smile-2x {
	background-position: -220px -198px;
}
.family-smile-2x {
	background-position: -0px -220px;
}
.together-smile-2x {
	background-position: -22px -220px;
}
.cat-smile-2x {
	background-position: -44px -220px;
}
.dog-smile-2x {
	background-position: -66px -220px;
}
.snail-smile-2x {
	background-position: -88px -220px;
}
.bug-smile-2x {
	background-position: -110px -220px;
}
.earth-smile-2x {
	background-position: -132px -220px;
}
.card-smile-2x {
	background-position: -154px -220px;
}
.clover-smile-2x {
	background-position: -176px -220px;
}
.cactus-smile-2x {
	background-position: -198px -220px;
}
.rose-smile-2x {
	background-position: -220px -220px;
}
.flower-smile-2x {
	background-position: 0px -242px;
}
.plant-smile-2x {
	background-position: -22px -242px;
}
.donut-smile-2x {
	background-position: -44px -242px;
}
.fries-smile-2x {
	background-position: -66px -242px;
}
.cake-smile-2x {
	background-position: -88px -242px;
}
.hamburger-smile-2x {
	background-position: -110px -242px;
}
.pizza-smile-2x {
	background-position: -132px -242px;
}
.cherry-smile-2x {
	background-position: -154px -242px;
}
.apple-smile-2x {
	background-position: -176px -242px;
}
.lemon-smile-2x {
	background-position: -198px -242px;
}
.pear-smile-2x {
	background-position: -220px -242px;
}
.basketball-smile-2x {
	background-position: 0px -264px;
}
.ball-smile-2x {
	background-position: -22px -264px;
}
.football-smile-2x {
	background-position: -44px -264px;
}
.shit-smile-2x {
	background-position: -66px -264px;
}
