@import "../../utils/variables";
@import "../../utils/mixin";

//************************ Contact Info ************************//

.right_bar {
  &.open {
    transform: translate($right-panel-width, 0);
    width: 0;

    &.openActive {
      transform: translate(0, 0);
      width: $right-panel-width;
      transition: all 200ms ease-in-out;
    }
  }

  &.close {
    transform: translate(0, 0);
    width: $right-panel-width;

    &.closeActive {
      transform: translate($right-panel-width, 0);
      width: 0;
      transition: all 200ms ease-in-out;
    }
  }


  .contact_info_right {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    user-select: none;
    @include flex();
    @include flex-direction-column();

    .contact-info-content {
      width: 100%;
      height: auto;
      padding: 0 22px;
      position: absolute;
      visibility: visible;
      opacity: 1;
      transition: visibility .2s linear, opacity .2s linear;
      z-index: 1;

      &.transparent {
        opacity: 0;
        visibility: hidden;
        z-index: -1;
      }

      .btn-block {
        width: 100%;
        height: auto;
        position: relative;
        @include flex();
        @include flex-direction-column();
        @include justify-content-flex-start();
        @include align-items-center();
        @include user-select(none);

        .cancel_close_btn {
          @include absolute(15px, unset, unset, 0);
          font-size: 13px;
          line-height: 1.2;
          font-weight: 400;
          cursor: pointer;
          z-index: 8;

        }

        .edit_btn {
          @include absolute(15px, 0, unset, unset);
          display: block;
          font-size: 13px;
          line-height: 1.2;
          font-weight: 400;
          cursor: pointer;
          z-index: 8;

        }

        .done_btn {
          @include absolute(15px, 0, unset, unset);
          display: block;
          font-size: 13px;
          line-height: 1.2;
          font-weight: 600;
          cursor: pointer;
          z-index: 8;

        }
      }

      .image-block {
        width: 100%;
        margin-bottom: 26px;
        height: auto;
        position: relative;
        @include flex();
        @include flex-direction-column();
        @include justify-content-flex-start();
        @include align-items-center();
        @include user-select(none);

        .contact_img {
          margin: 30px 0 10px 0;
          width: 80px;
          height: 80px;
          border-radius: 50%;
          object-fit: contain;
          @include user-drag(none);
        }

        .contact_icon {
          margin: 30px 0 10px 0;
          width: 80px;
          height: 80px;
          border-radius: 50%;
          position: relative;
          background-color: $contact-icon-color;
          @include flex();
          @include align-items-center();
          @include justify-content-center();

          span {
            font-size: 28px;
            font-weight: 700;
            line-height: 1.2;
            text-transform: uppercase;

            text-align: left;
          }
        }

        .contact-icon-edit {
          background-color: rgba(0, 0, 0, 0.2);
          width: 80px;
          height: 80px;
          border-radius: 50%;
          z-index: 8;
          transition: .2s;
          display: flex;
          position: absolute;
          left: 50%;
          top: 34%;
          transform: translate(-50%, -50%);
          justify-content: center;
          align-items: center;

          &::after {
            content: "\e968";
            color: #FFFFFF;
            font-size: 36px;
          }
        }

        .no-name_icon {
          margin: 30px 0 0 0;
          width: 80px;
          height: 80px;
          border-radius: 50%;
          background-color: $avatar-bg-color;
          @include icon-font();
          @include flex();
          @include align-items-center();
          @include justify-content-center();

          &::after {
            content: "\e947";
            color: #ffffff;
            font-size: 78px;
            display: block;
            margin: 5px 0 0 0;
          }
        }

        .edit-inputs {
          @include flex();
          @include flex-direction-column();
          width: 100%;

          z-index: 1;

          .user-name {
            border: none;
            padding: 5px 0;
            border-bottom: 1px solid rgba(199, 206, 216, 0.3);
            color: #2D2E3B;
            background-color: transparent;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            height: 40px;

            &::placeholder {
              color: #999;
              font-size: 15px;
              line-height: 17px;
              @include user-select(none);
            }

            &:focus {
              border-bottom: 1px solid $primary-color;
              caret-color: $primary-color;
            }
          }

          .invalid-name {
            border-bottom: 1px solid #F51815;
          }

          .user-surname {
            border: none;
            padding: 5px 0;
            border-bottom: 1px solid rgba(199, 206, 216, 0.3);
            color: #2D2E3B;
            background-color: transparent;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            height: 40px;

            &::placeholder {
              color: #999;
              font-size: 15px;
              line-height: 17px;
              @include user-select(none);
            }

            &:focus {
              border-bottom: 1px solid $primary-color;
              caret-color: $primary-color;
            }
          }
        }

        .contact-name {
          display: block;
          margin-bottom: 5px;
          font-size: 18px;
          line-height: 1.3;
          font-weight: 600;
          text-align: center;
          width: 240px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          @include user-select(text);

          span {
            cursor: pointer;
          }
        }

        .contact-status-info {
          height: 15px;
          //margin: 5px 0 15px 0;
          .contact-status {
            display: block;
            font-size: 13px;
            line-height: 1.2;
            font-weight: 400;
            color: #7C7E90;
            opacity: 1;
          }

          .online-contact {
            color: $right-panel-blue;
            font-weight: 500;
          }
        }
      }

      .number-row {
        width: 100%;
        height: 58px;
        border-bottom: 1px solid #edf2f9;
        position: relative;
        @include flex();
        @include flex-direction-row();
        @include justify-content-space-between();
        @include align-items-center();
        @include user-select(none);
        visibility: visible;
        transition: visibility 0.2s linear, opacity 0.2s linear;

        &.transparent {
          opacity: 0;
          visibility: hidden;
        }

        .number {
          @include flex();
          @include flex-direction-column();

          .number-type {
            height: auto;
            @include flex();
            @include flex-direction-row();
            @include align-items-center();

            .type-of-number {
              display: block;
              font-size: 13px;
              font-weight: 400;
              height: 13px;
              color: #7C7E90;
            }

            .selected-contact {
              color: $right-panel-blue;
            }

            .contact {
              display: block;
              font-size: 11px;
              font-weight: 500;
              line-height: 16px;

              text-align: center;
              width: auto;
              padding: 0 8px;
              height: 16px;
              text-transform: lowercase;
              margin: 0 0 0 8px;
              border-radius: 3px;
              background-color: #BAC7D1;
              color: #FFF;
            }

            .favorites-ico {
              margin: 0 0 0 8px;
              @include flex();
              @include justify-content-center();
              @include icon-font();

              &:before {
                content: "\e944";
                color: #BAC7D1;
                font-size: 16px;
              }
            }
          }

          .number {
            margin: 8px 0 0 0;
            display: block;
            font-size: 14px;
            line-height: 1.2;
            font-weight: 400;
            cursor: text;
            @include user-select(text);
          }
        }

        .more-info {
          display: none;
          @include flex();
          @include flex-direction-row();
          @include align-items-center();
          cursor: pointer;

          .more-text {
            font-size: 13px;
            line-height: 1.2;
            font-weight: 400;

            color: $right-panel-blue;;
            cursor: pointer;
          }

          .more-ico {
            margin: 0 0 0 10px;
            @include icon-font();

            &:before {
              content: "\e946";
              color: $header-icon-color;
              font-size: 16px;
            }
          }
        }
      }

      .create-group {
        width: 100%;
        height: 40px;
        margin: 0 auto;
        @include flex();
        @include flex-direction-row();
        @include justify-content-flex-start();
        @include align-items-center();
        @include user-select(none);
        cursor: pointer;

        &:hover {
          .info-block {
            .create-group-btn {
              color: $primary-color;
            }
          }
        }

        .create-group-ico {
          width: 28px;

          @include flex();
          @include justify-content-center();
          @include icon-font();
          display: none !important;

          &:before {
            content: "\e914";
            color: $primary-color;
            font-size: 24px;
          }
        }

        .info-block {
          height: 100%;
          width: 100%;
          cursor: pointer;
          border-bottom: 1px solid #edf2f9;
          @include flex();
          @include flex-direction-row();
          @include justify-content-flex-start();
          @include align-items-center();

          .create-group-btn {
            transition: .3s;
            font-size: 14px;
            line-height: 1.38;
            font-weight: 400;
            cursor: pointer;
          }

          .create-group-ico-next {
            margin: 0 0 0 auto;
            @include icon-font();

            &:before {
              content: "\E946";
              color: $header-icon-color;
              font-size: 16px;
            }
          }
        }
      }

      .add-favorites {
        width: 100%;
        height: 40px;
        margin: 0 auto 0 auto;
        @include flex();
        @include flex-direction-row();
        @include justify-content-flex-start();
        @include align-items-center();
        @include user-select(none);
        cursor: pointer;

        &:hover {
          .info-block {
            .add-favorites-btn {
              color: $primary-color;
            }
          }
        }

        .add-favorites-ico {
          width: 28px;
          @include flex();
          @include justify-content-center();
          @include icon-font();
          display: none !important;

          &:before {
            content: "\e953";
            color: $primary-color;
            font-size: 24px;
          }
        }

        .info-block {
          height: 100%;
          width: 100%;
          border-bottom: 1px solid #edf2f9;
          @include flex();
          @include flex-direction-row();
          @include justify-content-flex-start();
          @include align-items-center();
          cursor: pointer;

          .add-favorites-btn {
            font-size: 14px;
            transition: .3s;
            font-weight: 400;
            line-height: 1.38;
            cursor: pointer;
          }

          .add-favorites-ico-next {
            margin: 0 0 0 auto;
            @include icon-font();

            &:before {
              content: "\E946";
              color: $header-icon-color;
              font-size: 16px;
            }
          }
        }
      }

      .shared-media {
        width: 100%;
        height: 40px;
        margin: 0 auto 0 auto;
        cursor: pointer;
        @include flex();
        @include flex-direction-row();
        @include justify-content-flex-start();
        @include align-items-center();
        @include user-select(none);

        &:hover {
          .info-block {
            .shared-media-btn {
              color: $primary-color;
            }
          }
        }

        .shared-media-ico {

          width: 28px;
          @include flex();
          @include justify-content-center();
          @include icon-font();
          display: none !important;

          &:before {
            content: "\e952";
            color: $primary-color;
            font-size: 24px;
          }
        }

        .info-block {
          height: 100%;
          width: 100%;
          border-bottom: 1px solid #edf2f9;
          @include flex();
          @include flex-direction-row();
          @include justify-content-flex-start();
          @include align-items-center();
          cursor: pointer;

          .shared-media-btn {
            font-size: 14px;
            transition: .3s;
            line-height: 1.38;
            font-weight: 400;

            &:hover {
              color: $primary-color;
            }
          }

          .shared-media-icons {
            margin: 0 0 0 auto;
            @include flex();
            @include flex-direction-row();
            @include align-items-center();

            .shared-media-length {
              display: block;
              font-size: 14px;
              line-height: 1.38;
              font-weight: 400;
              color: $grey-color;
            }

            .shared-media-ico-next {
              @include icon-font();

              &:before {
                content: "\e946";
                color: $header-icon-color;
                font-size: 16px;
              }
            }
          }
        }
      }

      .mute-row {
        width: 100%;
        height: 40px;
        margin: 0 auto 0 auto;
        @include flex();
        @include flex-direction-row();
        @include justify-content-flex-start();
        @include align-items-center();
        @include user-select(none);
        cursor: pointer;

        &:hover {
          .info-block {
            .mute-btn {
              color: $primary-color;
            }
          }
        }

        .mute-ico {
          width: 28px;
          @include flex();
          @include justify-content-center();
          @include icon-font();
          display: none !important;

          &:before {
            content: "\e963";
            color: $primary-color;
            font-size: 24px;
          }
        }

        .info-block {
          height: 100%;
          width: 100%;
          border-bottom: 1px solid #edf2f9;
          @include flex();
          @include flex-direction-row();
          @include justify-content-flex-start();
          @include align-items-center();
          cursor: pointer;

          .mute-btn {
            font-size: 14px;
            line-height: 1.38;
            transition: .3s;
            font-weight: 400;
          }

          .mute-icons {
            margin: 0 0 0 auto;
            @include flex();
            @include flex-direction-row();
            @include align-items-center();

            .mute-status {
              display: block;
              font-size: 14px;
              line-height: 1.38;
              font-weight: 400;

              color: $grey-color;
            }

            .mute-ico-next {
              @include icon-font();

              &:before {
                content: "\e946";
                color: $header-icon-color;
                font-size: 16px;
              }
            }
          }
        }
      }

      .block-contact {
        width: 100%;
        height: 40px;
        margin: 0 auto 0 auto;
        @include flex();
        @include flex-direction-row();
        @include justify-content-flex-start();
        @include align-items-center();
        @include user-select(none);
        cursor: pointer;

        &:hover {
          .info-block {
            .block-contact-btn {
              color: $primary-color;
            }
          }
        }

        .block-contact-ico {
          width: 28px;
          @include flex();
          @include justify-content-center();
          @include icon-font();
          display: none !important;

          &:before {
            content: "\e951";
            color: $primary-color;
            font-size: 24px;

          }
        }

        .unblock-contact-ico {
          width: 28px;
          @include flex();
          @include justify-content-center();
          @include icon-font();
          display: none !important;

          &:before {
            content: "\e951";
            color: $primary-color;
            font-size: 24px;

          }
        }

        .info-block {
          height: 100%;
          width: 100%;
          border-bottom: 1px solid #edf2f9;
          cursor: pointer;
          @include flex();
          @include flex-direction-row();
          @include justify-content-flex-start();
          @include align-items-center();

          .block-contact-btn {
            font-size: 14px;
            line-height: 1.38;
            font-weight: 400;
            transition: .3s;
          }

          .block-contact-ico-next {
            margin: 0 0 0 auto;
            @include icon-font();

            &:before {
              content: "\E946";
              color: $header-icon-color;
              font-size: 16px;
            }
          }
        }
      }

      .delete-contact {
        width: 100%;
        height: 40px;
        margin: 20px auto 0 auto;
        @include flex();
        @include flex-direction-row();
        @include justify-content-flex-start();
        @include align-items-center();
        @include user-select(none);
        cursor: pointer;

        .delete-contact-ico {
          width: 28px;
          @include flex();
          @include justify-content-center();
          @include icon-font();
          display: none !important;

          &:before {
            content: "\e931";
            color: #E92E28;
            font-size: 24px;
          }
        }

        .info-block {
          height: 100%;
          width: 100%;
          //margin: 0 0 0 10px;
          border-bottom: 1px solid #edf2f9;
          @include flex();
          @include flex-direction-row();
          @include justify-content-flex-start();
          @include align-items-center();
          cursor: pointer;

          .delete-contact-btn {
            font-size: 14px;
            line-height: 1.38;
            font-weight: 400;
            color: #E92E28;
          }

          .delete-contact-ico-next {
            margin: 0 0 0 auto;
            @include icon-font();

            &:before {
              content: "\E946";
              color: $header-icon-color;
              font-size: 16px;
            }
          }
        }
      }
    }
  }

  .create-contact-popup {
    position: absolute;
    z-index: 9;
    right: 15px;
    top: 85px;
    opacity: 0;
    transform-origin: top right;
    transform: scale(0);
    -webkit-transition: all 110ms cubic-bezier(.04, .37, .23, .61) !important;
    transition: all 110ms cubic-bezier(.04, .37, .23, .61) !important;

    &.open {
      opacity: 1;
      transform: scale(1);
    }

    .contact-form {
      .contact-form-content {
        width: 90%;
        height: 360px;
        min-width: 287px;
        min-height: 330px;
        background-color: #FFFFFF;
        border-radius: 8px;
        @include flex();
        @include flex-direction-column();
        @include align-items-center();
        @include justify-content-flex-start();
        -webkit-box-shadow: 0 2px 20px 3px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 2px 20px 3px rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 20px 3px rgba(0, 0, 0, 0.1);

        .popup-title {
          margin: 14px 0 0 0;
          font-size: 16px;
          font-weight: 500;

          color: #000;
          display: none;
        }

        .image-block {
          width: 100%;
          padding: 20px 0;
          background: linear-gradient(#91b6ec 0%, #85d0f5 100%);
          @include flex();
          @include align-items-center();
          @include justify-content-center();
          border-radius: 8px 8px 0 0;

          .user-img {
            width: 90px;
            height: 90px;
            position: relative;
            z-index: 1;
            @include icon-font();
            margin: 0;

            &:before {
              content: "\e947";
              color: $header-color;
              font-size: 82px;
              display: block;
              margin: 3px 0 0 0;
              @include absolute-center-xy();
            }

            &:after {
              content: " ";
              display: block;
              width: 90px;
              height: 90px;
              border-radius: 50%;
              background-color: $avatar-bg-color;
              @include absolute-center-xy();
              z-index: -1;
            }
          }
        }

        .info-block {
          width: 100%;
          @include flex();
          @include flex-direction-column();
          @include align-items-center();
          padding: 0 14px;

          .user-name {
            margin: 5px 0 0 0;
            border: none;
            border-bottom: 1px solid rgba(199, 206, 216, 0.3);
            background-color: transparent;
            width: 100%;
            height: 40px;
            font-size: 15px;
            font-weight: 400;

            text-align: left;
            padding: 10px 0 0 0;

            &:focus {
              border-bottom: 1px solid $primary-color;
            }

            &::placeholder {
              text-align: left;
              color: $grey-color;
              font-size: 15px;
              line-height: 1.2;
              font-weight: 400;
            }
          }

          .user-surname {
            margin: 0;
            border: none;
            border-bottom: 1px solid rgba(199, 206, 216, 0.3);
            background-color: transparent;
            width: 100%;
            height: 40px;
            font-size: 15px;
            font-weight: 400;
            text-align: left;
            padding: 10px 0 0 0;

            &:focus {
              border-bottom: 1px solid $primary-color;
            }

            &::placeholder {
              text-align: left;
              color: $grey-color;
              font-size: 15px;
              line-height: 1.2;
              font-weight: 400;
            }
          }

          .number-content {
            width: 100%;
            height: 40px;
            @include flex();
            @include flex-direction-row();
            @include justify-content-flex-start();
            @include align-items-center();

            .user-number {
              margin: 0;
              border: none;
              border-bottom: 1px solid rgba(199, 206, 216, 0.3);
              background-color: transparent;
              width: 100%;
              height: 40px;
              font-size: 15px;
              font-weight: 400;
              text-align: left;
              padding: 12px 0 0 0;

              &:focus {
                border-bottom: 1px solid $primary-color;
              }

              &::placeholder {
                text-align: left;
                color: $grey-color;
                font-size: 15px;
                line-height: 1.2;
                font-weight: 400;
              }
            }

            .invalid-number {
              color: #F51815;
              border-bottom: 1px solid #F51815;
            }
          }
        }

        .bottom-buttons {
          width: 100%;
          padding: 0 14px;
          margin: auto 0 14px 0;
          @include flex();
          @include flex-direction-row();
          @include justify-content-space-between();

          .cancel-btn {
            border: none;
            padding: 0;
            font-size: 13px;
            font-weight: 400;
            color: $primary-color;
            cursor: pointer;
          }

          .add-contact-btn {
            @include confirm-button();
          }
        }
      }
    }
  }
}
