@import '../../utils/mixin';
@import '../../utils/variables';

.avatar-cropper-popup {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  right: 0;
  z-index: 100;
  opacity: 1;
  @include flex();
  @include align-items-center();
  @include justify-content-center();

  &.open {
    opacity: 0;
    animation: profile-popup-content 0.3s forwards;

    .avatar-cropper-popup-block {
      opacity: 0;
      transform: scale(0.6);
      animation: popup-scale 0.3s forwards;
    }
  }

  &.close {
    opacity: 1;
    animation: close-popup 0.2s forwards;

    .avatar-cropper-popup-block {
      opacity: 1;
      transform: scale(1);
      animation: close-popup-scale 0.2s forwards;
    }
  }

  .avatar-cropper-popup-block {
    max-width: 700px;
    max-height: calc(100% - 80px);
    width: auto;
    height: auto;
    background-color: #ffffff;
    border-radius: 8px;
    user-select: none;
    opacity: 1;
    @include flex();
    @include flex-direction-column();
    position: relative;

    .avatar-cropper-popup-header {
      position: absolute;
      width: 100%;
      border-bottom: 1px solid rgba(199, 206, 216, 0.5);
      height: 56px;
      @include flex;
      @include align-items-center();
      @include justify-content-center();

      h2 {
        font-size: 15px;
        font-weight: 600;

        span {
          font-weight: 400;
          color: #808088;
          margin: 0 0 0 10px;
        }
      }
    }

    .avatar-cropper-popup-body {
      height: 100%;
      padding: 56px 0;
      min-width: 200px;
      @include flex();
      @include align-items-center();
      @include justify-content-center();
    }

    .avatar-cropper-popup-footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      @include flex;
      @include align-items-center();
      @include justify-content-flex-end();
      padding: 0 20px;
      background: #fff;
      z-index: 99;
      height: 56px;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      border-top: 1px solid rgba(199, 206, 216, 0.5);

      .btn-block {
        max-width: 195px;
        margin: 0 15px 0 0;
        width: 100%;
        @include flex;
        @include align-items-center();
        @include justify-content-space-between();

        .btn-cancel {
          margin: 0 14px 0 0;
          border: none;
          padding: 4px 19px;
          border-radius: 5px;
          font-size: 12px;
          font-weight: 600;
          color: #333;
          background: #f0f1f4;
          cursor: pointer;
          text-transform: capitalize;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          min-width: 90px;
        }

        .btn-done {
          min-width: 80px;
          border: none;
          padding: 4px 19px;
          border-radius: 5px;
          font-size: 12px;
          font-weight: 700;
          color: #ffffff;
          background: $primary-color;
          cursor: pointer;
          //transition: 0.3s;
          text-transform: capitalize;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
      }

    }
  }
}

.ReactCrop__crop-selection {
  border-image-source: none !important;
  border-radius: 50% !important;
  min-width: 45px !important;
  min-height: 45px !important;
  border: none !important;
}

.ReactCrop__drag-handle {
  background-color: inherit !important;
  width: 20px !important;
  height: 20px !important;
  border: none !important;
}

.ReactCrop {
  .ord-ne {
    border-top: 2px solid $primary-color !important;
    border-right: 2px solid $primary-color !important;
    margin: 0 !important;
  }

  .ord-se {
    border-bottom: 2px solid $primary-color !important;
    border-right: 2px solid $primary-color !important;
    margin: 0 !important;
  }

  .ord-sw {
    border-bottom: 2px solid $primary-color !important;
    border-left: 2px solid $primary-color !important;
    margin: 0 !important;
  }

  .ord-nw {
    border-top: 2px solid $primary-color !important;
    border-left: 2px solid $primary-color !important;
    margin: 0 !important;
  }
}

.ReactCrop__image {
  min-width: 100px !important;
  min-height: 100px !important;
}
